## Apply

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'gruplar':['A','B','C','A','B','C'],
                  'degisken1':[10,23,33,22,11,99],
                  'degisken2':[100,253,333,262,111,969]}, 
                  columns= ['gruplar','degisken1','degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [8]:
# apply :dataframe'in değişkenlerinin üzerinde gezinme yeteneği olan ve aggregation amacıyla kullanılabilecek fonksiyondur.

In [5]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

In [6]:
df.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [15]:
df.groupby('gruplar').apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        364
C            CC        132       1302