## Pandas DataFrame Oluşturma

In [2]:
# Pandas DataFrame yapısal bir veri tipidir. Excel veri tipine benzer.
# Analitik anlamda kullanırız.

In [1]:
import pandas as pd

In [3]:
l = [1,2,39,67,90]

In [4]:
l

[1, 2, 39, 67, 90]

In [5]:
# columns isimlendirme istersek
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [3]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
pd.DataFrame(m, columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [14]:
# dataframe isimlendirme (df)

In [15]:
df = pd.DataFrame(m, columns=["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [16]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [19]:
df.columns = ("deg1","deg2","deg3")
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [21]:
type(df)

pandas.core.frame.DataFrame

In [23]:
# satır ve sütun bilgilerini veriyor "axes"
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [24]:
df.shape

(3, 3)

In [25]:
df.ndim

2

In [26]:
df.size

9

In [27]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
type(df.values)

numpy.ndarray

In [29]:
df.head(2)

   deg1  deg2  deg3
0     1     2     3
1     4     5     6

In [30]:
df.tail(2)

   deg1  deg2  deg3
1     4     5     6
2     7     8     9

In [31]:
a = np.array([1,2,3,4,5])

In [32]:
pd.DataFrame(a, columns= ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5