## Gözlem ve Değişken Seçimi

In [2]:
import numpy as np
import pandas as pd

m = np.random.randint(1,30, size =(10,3))

df = pd.DataFrame(m,columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    19    27     7
1    25    27    26
2    12     6     8
3    11    18     5
4    16    25    18
5    26    25    24
6     5     1    13
7     2     7    17
8    24     4    12
9    24    10     2

In [3]:
# loc yapısı
# tanımlandığı şekli ile seçim yapmak için kullanılır
# burada 3 de alır

In [4]:
df.loc[0:3]

   var1  var2  var3
0    19    27     7
1    25    27    26
2    12     6     8
3    11    18     5

In [5]:
# iloc : alışık olduğumuz indexleme mantığıyla seçim yapar

In [7]:
# burada 3ü almaz

df.iloc[0:3]

   var1  var2  var3
0    19    27     7
1    25    27    26
2    12     6     8

In [9]:
df.iloc[0,0]

19

In [10]:
df.iloc[:3,:2]

   var1  var2
0    19    27
1    25    27
2    12     6

In [11]:
df.loc[0:3,"var3"]

0     7
1    26
2     8
3     5
Name: var3, dtype: int32

In [16]:
df.iloc[0:3]["var3"]

0     7
1    26
2     8
Name: var3, dtype: int32